$color-white: #FFFFFF;
$color-A: #D8E3F2;
$color-B: #9EA1A6;
$color-C: #3B26BF;
$color-D: #2138B4;
$color-E: #26488C;
$color-F: #142B59;
$color-G: #0B1659;
$color-H: #181240;
$color-I: #050A26;
$color-J: #030515;
$color-K: #000308;

$color-I-transparent: rgba($color-I, .6);