@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=IBM+Plex+Mono:ital,wght@0,500;0,700;1,300&family=Press+Start+2P&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer div, .midia_item a, .midia_item, .midia-social, .about_perfil, .card_anchor, .card_info, .sidebar_menu, .sidebar_hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact, .about, .projects, .skills {
  background-color: #e7d3ff;
  width: 100%;
  height: max-content;
  margin: 0 auto;
  padding: 2em 0 3em;
}

.contact_title, .about_title, .projects_title, .skills_title {
  width: 100%;
  height: 100%;
  padding-bottom: 5em;
}
.contact_title h1, .about_title h1, .projects_title h1, .skills_title h1 {
  width: max-content;
  border-bottom: 0.1em solid #652AA8;
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
  font-size: 3em;
}
@media screen and (max-width: 540px) {
  .contact_title, .about_title, .projects_title, .skills_title {
    font-size: 10px;
  }
}

.contact_container, .about_container, .skills_container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3em 2em;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 540px) {
  header {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 380px) {
  header {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 320px) {
  header {
    font-size: 0.5em;
  }
}

.img-wrapper {
  width: 100%;
  height: 100%;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 10%;
}
.banner h1, .banner p {
  text-shadow: 0.1em 0.1em 0.1em #8236D9;
}
.banner h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 3.5em;
  animation: show-banner-right 1s ease;
  transform: none;
}
.banner p {
  margin-top: 3.5em;
  font-family: "Press Start 2P", cursive;
  font-size: 1.8em;
  cursor: pointer;
  animation: show-banner-right 1.5s ease;
  transform: none;
  transition: all 0.5s ease;
}
.banner p:hover {
  color: #AB7BE0;
  transform: translateY(-5px);
}

@keyframes show-banner-right {
  0% {
    transform: translateX(50em);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes show-banner-up {
  0% {
    transform: translateY(10em);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.sidebar {
  width: max-content;
  display: flex;
  position: fixed;
  top: 0;
  right: -20em;
  transition: all 0.5s ease;
  z-index: 1001;
}
@media screen and (max-width: 380px) {
  .sidebar {
    font-size: 0.9em;
  }
}

.sidebar--show {
  right: 0;
}
.sidebar--show .sidebar_hamburguer {
  right: -5em;
}

.sidebar_hamburguer {
  background-color: #ece6f3;
  width: 5em;
  height: 5em;
  position: relative;
  right: 0em;
  border-radius: 50% 0 0 50%;
  margin-top: 0.5em;
  transition: all 0.5s ease;
  animation: slide-left 1s ease;
  cursor: pointer;
}

.hamburguer_btn {
  width: 3em;
  height: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5em;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.hamburguer_btn:hover .line {
  transition: all 0.4s ease;
  background-color: #361659;
  text-shadow: 0.2em 0.1em 0.3em #3D225C;
}

.hamburguer_btn.hamburguer_btn--rotate {
  transform: rotate(-90deg);
}

.line {
  background-color: #652AA8;
  width: 100%;
  height: 0.5em;
  border-radius: 2px;
  box-shadow: 0 0 0.3em #8236D9;
}

.sidebar_menu {
  background-color: #ece6f3;
  width: 20em;
  height: 100vh;
}

.menu_lista {
  text-align: center;
  font-size: 2em;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  color: #652AA8;
  text-shadow: 0.1em 0.05em 0.2em #8236D9;
}
.menu_lista li {
  margin: 1.5em 0;
}

.menu_link {
  color: inherit;
  transition: all 0.3s;
}
.menu_link:hover {
  color: #361659;
  text-shadow: 0.1em 0.05em 0.2em #3D225C;
}

@keyframes slide-left {
  from {
    right: -5em;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 540px) {
  .skills p {
    font-size: 1.1em;
  }
  .skills i, .skills h3 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 380px) {
  .skills {
    font-size: 0.55em;
  }
}
@media screen and (max-width: 320px) {
  .skills {
    font-size: 0.8em;
  }
}

.skills_item {
  width: 15em;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1em 1fr;
  margin: 0 auto;
  box-shadow: 0 0 1em #8236D9;
  border-radius: 10px;
  padding: 1em;
}
.skills_item i {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 2.5em;
}
.skills_item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto 0;
  padding-left: 1em;
}
.skills_item p {
  height: max-content;
  grid-column: 1/6;
  grid-row: 3/4;
  border: 1px solid gray;
  border-radius: 10px;
  margin: auto 0;
  padding: 1em;
}

.card_info, .card_bg-img img, .card_bg-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s;
}

.projects_container {
  max-width: 90%;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 18em));
  margin: 0 auto;
  gap: 2em;
}
@media screen and (max-width: 540px) {
  .projects_container {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 380px) {
  .projects_container {
    font-size: 0.5em;
  }
}

.projects_card {
  width: 18em;
  height: 30em;
  transition: all 0.5s;
  box-shadow: 0 0 1em #8236D9;
  border-radius: 10px;
}
.projects_card:hover {
  transform: scale(1.05);
}
.projects_card:hover img {
  opacity: 0.2;
}

.card_bg-img {
  background-color: #000;
}
.card_bg-img img {
  opacity: 0.1;
}

.card_info {
  justify-content: end;
  position: relative;
  top: -100%;
}
.card_info h3 {
  color: #8236D9;
  text-align: center;
  text-shadow: 0 0 0.5em black;
  font-family: "Press Start 2P", cursive;
  font-size: 1.8em;
}
.card_info div {
  display: flex;
  flex-direction: column;
  margin: 5em 0 1.5em;
}

.card_anchor {
  background-color: #8236D9;
  color: #ece6f3;
  width: 12em;
  height: 3.5em;
  box-shadow: 0.2em 0.2em 0.8em #8236D9;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.5em;
  transition: all 0.5s;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 1em;
}
.card_anchor:hover {
  transform: scale(1.1);
}
.card_anchor:active {
  background-color: #652AA8;
  box-shadow: 0.2em 0 0.8em #8236D9;
  transform: translateY(5px) scale(1.15);
}

.about_container {
  flex-wrap: nowrap;
}
@media screen and (max-width: 920px) {
  .about_container {
    flex-direction: column;
  }
}
@media screen and (max-width: 540px) {
  .about_container {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 380px) {
  .about_container {
    font-size: 0.5em;
  }
  .about_container .about_resume {
    padding: 2em;
  }
  .about_container .about_resume p {
    text-indent: 1em;
  }
}

.about_perfil img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 0.2em solid #361659;
  box-shadow: 0 0 1.5em #8236D9;
  margin: auto;
}

.about_resume {
  color: #361659;
  background-color: #AB7BE0;
  box-shadow: 0 0 1em #8236D9;
  border-radius: 10px;
  padding: 5em;
}
.about_resume h3 {
  margin-bottom: 2em;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  text-align: center;
}
.about_resume p {
  color: #ece6f3;
  text-align: justify;
  text-indent: 3em;
  text-shadow: 1px 1px 2px #361659;
  font-family: "Fredoka One", cursive;
  font-size: 1.5em;
}

@media screen and (max-width: 540px) {
  .contact_container {
    font-size: 0.5em;
  }
  .contact_container .midia_item {
    border-radius: 10px;
  }
}

.midia-social {
  width: 100%;
}

.midia_item {
  background-color: #AB7BE0;
  width: 5em;
  height: 5em;
  flex-direction: row;
  border: 2px solid #361659;
  border-radius: 20px;
  box-shadow: 0 0 0.5em #8236D9;
  margin: 2em auto;
  cursor: pointer;
  transition: all 0.5s;
}
.midia_item:hover {
  width: 30em;
  background-color: #361659;
  transform: scale(1.1);
  padding: 0 1em;
}
.midia_item:hover i {
  color: #ece6f3;
  transform: translateX(3.2em) rotate(360deg);
}
.midia_item:hover a {
  transform: scale(1);
  opacity: 1;
}
.midia_item i {
  font-size: 4em;
  color: #361659;
  z-index: 10;
  transition: all 0.5s;
}
.midia_item a {
  color: #ece6f3;
  width: 25em;
  position: absolute;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 1.2em;
  transform: scale(0);
  margin-left: -5em;
  opacity: 0;
  transition: all 0.5s;
}

.footer {
  width: 100%;
  height: 7em;
  background-color: #e7d3ff;
}
.footer div {
  background-color: #AB7BE0;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -0.2em 0.5em #AB7BE0;
  margin: 0 auto;
}
.footer h5 {
  color: #ece6f3;
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  text-shadow: 0.1em 0.2em 0.3em #361659;
}
@media screen and (max-width: 540px) {
  .footer {
    font-size: 0.6em;
  }
}

/*# sourceMappingURL=style.css.map */
