.about {
    @extend %section;
}

.about_title {
    @extend %section_title;
}

.about_container {
    width: 90%;
    height: max-content;
    margin: 0 auto 3rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;
}

.about_perfil {
    @extend %centralizar-conteudo;
    
    img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: .2rem solid $cor-tema5;
        box-shadow: 0 0 1.5rem $cor-tema-padrao;
        margin: auto;
    }
}

.about_resume {
    color: $cor-tema5;
    background-color: $cor-tema-secundaria;
    box-shadow: 0 0 1rem $cor-tema-padrao;
    border-radius: 10px;
    padding: 5rem;
    
    h3{
        margin-bottom: 3rem;
        font-family: $fonte-legal;
        font-size: 2rem;
        text-align: center;
    }
    
    p {
        color: $cor-tema-secundaria-light;
        text-align: justify;
        text-indent: 3rem;
        text-shadow: 1px 1px 2px $cor-tema5;
        font-family: $fonte-secundaria;
        font-size: 1.5rem;
    }
}