.contact {
    @extend %section;
}

.contact_title {
    @extend %section_title;
}

.contact_container {
    @extend %section_container;
}

.midia-social {
    @extend %centralizar-conteudo;
    width: 100%;
}

.midia_item {
    @extend %centralizar-conteudo;
    background-color: $cor-tema-secundaria;
    width: 5rem;
    height: 5rem;
    flex-direction: row;
    border: 2px solid $cor-tema5;
    border-radius: 20px;
    box-shadow: 0 0 .5rem $cor-tema-padrao;
    margin: 2rem auto;
    cursor: pointer;
    transition: all .5s;
    
    &:hover{
        width: 30rem;
        background-color: $cor-tema5;
        transform: scale(1.1);
        padding: 0 1rem;
        
        i {
            color: $cor-tema-secundaria-light; 
            transform: translateX(12rem) rotate(360deg);
        }
        
        a {
            transform: scale(1);
            opacity: 1;
        }
    }
    
    i {
        font-size: 4rem;
        color: $cor-tema5;
        transition: all .5s;
    }

    a {
        @extend %centralizar-conteudo;
        color: $cor-tema-secundaria-light; 
        width: 25rem;
        position: absolute;
        font-family: $fonte-padrao;
        font-weight: 700;
        font-size: 1.2rem;
        transform: scale(0);
        margin-left: -5rem;
        opacity: 0;
        transition: all .5s;
    }
}