.text-style {
    margin-bottom: 3.5rem;
    text-shadow: .4rem .2rem .4rem $cor-tema-padrao;
    transition: all .5s ease;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .img-wrapper {
        width: 100%;
        height: 100%;
        
        img {   
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
