@keyframes show-banner-right {
    0% { transform: translateX(50rem); opacity: 0;}
    20% { opacity: 0;}
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes show-banner-up {
    0% { transform: translateY(10rem); opacity: 0; }
    20% { opacity: 0;}
    100% { transform: translateY(0); opacity: 1; }
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
}

.banner {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 10%;
    
    h1, p{
        text-shadow: .4rem .2rem .4rem $cor-tema-padrao;
        margin-bottom: 3.5rem;
    }
    
    h1 {
        font-family: $fonte-padrao;
        font-size: 3.5rem;
        animation: show-banner-right 1s ease;
        transform: none;
    }

    p {
        font-family: $fonte-legal;
        font-size: 1.8rem;
        cursor: pointer;
        animation: show-banner-right 1.5s ease;
        transform: none;
        transition: all .5s ease;

        &:hover{
            color: $cor-tema-secundaria;
            transform: translateY(-5px);
        };
    }

    button {
        background-color: $cor-tema-padrao;
        width: 12rem;
        height: 4rem;
        box-shadow: .2rem .2rem .8rem $cor-tema-padrao;
        border: none;
        border-radius: 5px;
        margin-left: 3rem;
        transition: all .5s ease;
        transform: none;
        animation: show-banner-up 2s ease;
        cursor: pointer;
        font-size: 1.5rem;
        text-transform: uppercase;

        &:hover{
            color: #fff;
            transform: translateY(-5px);
            background-color: $cor-tema-secundaria; 
        };
    }
}