.btn-hamburguer {
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 2rem;
    right: 2rem;
    transition: all .5s ease;
    animation: show-banner-down 2s ease;
    cursor: pointer;
    z-index: 1001;
    
    &:hover{
        transform: translateY(-5px);
        .line{
            background-color: $cor-tema-padrao; 
        }
    };
    
    .line {
        background-color: $cor-tema-secundaria;
        width: 100%;
        height: .4rem;
        border-radius: 2px;
        box-shadow: 0 0 .3rem $cor-tema-secundaria;
    }
}

@keyframes show-banner-down {
    0% { transform: translateY(-5rem); opacity: 0; }
    20% { opacity: 0;}
    100% { transform: translateY(0); opacity: 1; }
}