.sidebar {
    width: max-content;
    display: flex;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .5s ease;
    z-index: 1001;
}

.sidebar--show {
    right: 0;
    .sidebar_hamburguer {
        right: -5rem;
    }
}

.sidebar_hamburguer {
    @extend %centralizar-conteudo;
    background-color: $cor-tema-secundaria-light;
    width: 5rem;
    height: 5rem;
    position: relative;
    right: 0rem;
    border-radius: 50% 0 0 50%;
    margin-top: .5rem;
    transition: all .5s ease;
    animation: slide-left 1s ease;
    cursor: pointer;
}

.hamburguer_btn {
    width: 3rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
    transform: rotate(0deg);
    transition: all .5s;
    
    &:hover .line {
        transition: all .4s ease;
        background-color: $cor-tema5;
        text-shadow: .2rem .1rem 0.3rem $cor-tema4;
    }
}

.hamburguer_btn.hamburguer_btn--rotate {
    transform: rotate(-90deg);
}

.line {
    background-color: $cor-tema3;
    width: 100%;
    height: .5rem;
    border-radius: 2px;
    box-shadow: 0 0 .3rem $cor-tema-padrao;
}

.sidebar_menu {
    @extend %centralizar-conteudo;
    background-color: $cor-tema-secundaria-light;
    width: 20rem;
    height: 100vh;
}

.menu_lista {
    text-align: center;
    font-size: 2rem;
    font-family: $fonte-padrao;
    font-weight: 700;
    color: $cor-tema3;
    text-shadow: .2rem .1rem 0.3rem $cor-tema-padrao;
    
    li { margin: 3rem 0; } 
}
    
.menu_link {
    color: inherit;
    &:hover {
        color: $cor-tema5;
        text-shadow: .2rem .1rem 0.3rem $cor-tema4;
    }
}

@keyframes slide-left {
    from { right: -5rem; opacity: 0;}
    to { right: 0; opacity: 1; }
}