.skills-section{
    background-color: $cor-tema-padrao-light;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    padding: 10vh 0 15vh;

    .skills_container {
        width: 90%;
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem 2rem;
        margin: 0 auto;

        .skills_item {
            width: 15rem;
            height: auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto 1rem 1fr;
            margin: 0 auto;
            box-shadow: 0 0  1rem $cor-tema-padrao;
            border-radius: 10px;
            padding: 1rem;

            i{
                grid-column: 1/2;
                grid-row: 1/2;
                font-size: 2.5rem;
            }

            h3 {
                grid-column: 2/3;
                grid-row: 1/2;
                margin: auto 0;
                padding-left: 1rem;
            }

            p {
                height: max-content;
                grid-column: 1/6;
                grid-row: 3/4;
                border: 1px solid gray;
                border-radius: 10px;
                margin: auto 0;
                padding: 1rem;
            }
        }
    }
}