* {
    color: $cor-1;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
    font-family: Russo One, sans;
    font-weight: 400;
    overflow: hidden;
    scroll-behavior: smooth;

    @media screen {
        @media( max-width: $ponto-de-quebra-800 ) { font-size: 8px; }
        @media( max-width: $ponto-de-quebra-400 ) { font-size: 2vw; }
    }
}

body, html {
    @extend %barra-de-rolagem;

    background-color: $cor-11;
    background-image: url('../img/background.png');
    background-size: auto;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
}

main {
    width: auto;
    display: grid;
    gap: 9.6rem;
    padding: 0 11.2rem;

    section {
        width: 100%;

        > .titulo {
            font-size: 3.2rem;
            letter-spacing: .5rem;
            margin-top: 4rem;
        }

        hr {
            background-image: linear-gradient($gradiente);
            width: 100%;
            height: .2rem;
            margin: .8rem 0 6.4rem;
            border: none;
        }
    }

    @media screen {
        @media( max-width: $ponto-de-quebra-800 ) { padding: 0 4rem; }
        @media( max-width: $ponto-de-quebra-400 ) { padding: 0 2.5rem; }
    }
}

footer {
    background-color: $cor-8;
    width: 100vw;
    margin-top: 9.6rem;
    padding: 3.8rem;
    box-sizing: border-box;

    p {
        @extend %texto-contorno-gradiente;

        margin: 0 auto;
        font-size: 1.4rem;
        letter-spacing: .25rem;
        -webkit-text-stroke: .5rem transparent !important;
    }
}