%barra-de-rolagem {
    ::-webkit-scrollbar { width: 1rem;}
    ::-ms-scrollbar { width: 1rem; }
    ::-moz-scrollbar {  width: 1rem; }
    ::-webkit-scrollbar-track { background-color: $cor-6; }
    ::-moz-scrollbar-track { background-color: $cor-6; }
    ::-ms-scrollbar-track { background-color: $cor-6; }

    ::-webkit-scrollbar-thumb {
        background-color: $cor-10;
        border-radius: .35rem;
    }
    ::-moz-scrollbar-thumb {
        background-color: $cor-10;
        border-radius: .35rem;
    }

    ::-ms-scrollbar-thumb {
        background-color: $cor-10;
        border-radius: .35rem;
    }
}