$fonte-padrao: 'IBM Plex Mono', monospace;
$fonte-secundaria: 'Fredoka One', cursive;
$fonte-legal:  'Press Start 2P', cursive;

$cor-tema-padrao: #8236D9;
$cor-tema-padrao-light: #e7d3ff;
$cor-tema-secundaria: #AB7BE0;
$cor-tema-secundaria-light: #ece6f3;
$cor-tema3: #652AA8;
$cor-tema4: #3D225C;
$cor-tema5: #361659;