.apresentacao {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    .conteudo {
        display: grid;
        justify-items: center;
        gap: 2.4rem;
        position: relative;
        animation: slide-up 1.25s ease-out;

        p, span { font-size: 2.4rem; }
        span {
            padding: 0 .5rem;
            -webkit-text-stroke: .6rem transparent !important;
        }

        h1 { 
            font-size: 8rem;
            letter-spacing: 1rem;
        }

        p {
            display: flex;
            align-items: center;
            letter-spacing: .5rem;
        }

        h1, p > span { @extend %texto-contorno-gradiente; }
    }

    @media screen {
        @media( max-width: $ponto-de-quebra-800 ) { .conteudo h1 {font-size: 7rem; } }

        @media( max-width: $ponto-de-quebra-600 ) { 
            .conteudo h1 {
                font-size: 5rem;
                letter-spacing: .5rem;
            }
        }
    }
}