.menu {
    display: flex;
    gap: 3.2rem;
    position: fixed;
    top: 3.2rem;
    right: 3.2rem;
    z-index: 10;
    
    &.menu--invisivel {
        nav { animation: encolher-horizontal 1s forwards ease; }
        img { transform: rotate(180deg); }
    }

    &.menu--travado { nav { display: none; } }

    nav, button { @extend %card-padrao; }
    
    nav {
        display: flex;
        gap: 4rem;
        padding: 1.6rem 4.8rem;
        animation: mostrar-horizontal 1s ease;
        
        a { font-size: 1.6rem; }
    }
    
    button { 
        width: 5.2rem; 
        height: 5.2rem;
        padding: 1rem;
        border-radius: 45%;
        cursor: pointer;
        
        img {
            width: 100%;
            transition: all .5s;
        }
    }

    @media screen {
        @media( max-width: $ponto-de-quebra-800 ) {
            flex-direction: column-reverse;
            align-items: flex-end;
            top: 1.5rem;
            right: 3rem;

            &.menu--invisivel {
                nav { animation: encolher-vertical 1s forwards ease; }
                img { transform: rotate(90deg); }
            }


            nav {
                flex-direction: column;
                padding: 2.5rem;
                animation: mostrar-vertical 1s ease;

                a { font-size: 3rem; }
            }

            button { 
                width: 8rem; 
                height: 8rem;
                padding: 1.5rem;

                img { transform: rotate(-90deg); }
            }
        }
    }
}