.projetos {
    .conteudo {
        width: 100%;
        display: grid;
        gap: 4.2rem;

        .card:nth-child(even) {
            .topo { grid-template-columns: 1fr max-content; }
            .imagem-do-projeto { order: 2 !important; }
            .descricao { order: 1 !important; }
        }

        .card {
            @extend %card-padrao;
            
            width: 100%;
            padding: 3.2rem;
            box-sizing: border-box;
            
            .topo {
                width: 100%;
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: 3.2rem;
                margin-bottom: 2.4rem;

                .imagem-do-projeto {
                    background-color: $cor-11;
                    width: 40rem;
                    height: 27rem;
                    order: 1;
                }
    
                .descricao {
                    width: 100%;
                    order: 2;
                    
                    .titulo {
                        font-size: 2.4rem;
                        margin-bottom: 2rem;
                    }
                    
                    .resumo {
                        @extend %texto;

                        color: $cor-2;
                        width: 100%;
                    }
                }
            }
    
            .rodape {
                display: flex;
                flex-direction: column;
                overflow: initial;
    
                .tecnologias {
                    display: flex;
                    gap: 1.6rem;
                    overflow: initial;
    
                    .tech { @extend %card-tech }
                }
    
                .botoes {
                    display: flex;
                    gap: 3.2rem;
                    padding: 2.4rem 0;
    
                    button {
                        background-color: $cor-10;
                        width: 16rem;
                        border: none;
                        font-size: 1.6rem;
                        border-radius: .4rem;
                        padding: 1.2rem;
                        letter-spacing: .25rem;
                        transition: all .35s;
                        cursor: pointer;

                        &:hover { background-color: $cor-12; }
                        &:active { transform: translateY(.25rem); }
                    }
                }
            }
        }
    }
}